In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('dpc-covid19-ita-regioni.csv')
df_pop = pd.read_csv('DCIS_POPORESBIL1_12012022143315331.csv')
df

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,...,note,ingressi_terapia_intensiva,note_test,note_casi,totale_positivi_test_molecolare,totale_positivi_test_antigenico_rapido,tamponi_test_molecolare,tamponi_test_antigenico_rapido,codice_nuts_1,codice_nuts_2
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14443,2022-01-11T17:00:00,ITA,19,Sicilia,38.115697,13.362357,1223,163,1386,127927,...,DECEDUTI: N. 7 IL 10/01/22 - N. 16 IL 09/01/22...,32.0,NaN,NaN,431931.0,38453.0,4009491.0,4896237.0,ITG,ITG1
14444,2022-01-11T17:00:00,ITA,9,Toscana,43.769231,11.255889,1108,122,1230,174576,...,NaN,16.0,NaN,NaN,416747.0,104269.0,5665687.0,4097200.0,ITI,ITI1
14445,2022-01-11T17:00:00,ITA,10,Umbria,43.106758,12.388247,198,14,212,34411,...,Si fa presente che 9 dei ricoveri non UTI appa...,3.0,NaN,NaN,93397.0,23782.0,1394157.0,1712035.0,ITI,ITI2
14446,2022-01-11T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,53,6,59,5109,...,NaN,1.0,NaN,NaN,14546.0,6719.0,129345.0,257564.0,ITC,ITC2
14447,2022-01-11T17:00:00,ITA,5,Veneto,45.434905,12.338452,1504,202,1706,203993,...,Nei valori riportati per le terapie intensive ...,23.0,NaN,NaN,629746.0,163004.0,8546505.0,12202054.0,ITH,ITH3

In [7]:
#converting values in the "data" column in pandas datetime values
datetimes = pd.to_datetime(df["data"])
df["data"] = datetimes
df

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,...,note,ingressi_terapia_intensiva,note_test,note_casi,totale_positivi_test_molecolare,totale_positivi_test_antigenico_rapido,tamponi_test_molecolare,tamponi_test_antigenico_rapido,codice_nuts_1,codice_nuts_2
0,2020-02-24 18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-24 18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-24 18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-24 18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-24 18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14443,2022-01-11 17:00:00,ITA,19,Sicilia,38.115697,13.362357,1223,163,1386,127927,...,DECEDUTI: N. 7 IL 10/01/22 - N. 16 IL 09/01/22...,32.0,NaN,NaN,431931.0,38453.0,4009491.0,4896237.0,ITG,ITG1
14444,2022-01-11 17:00:00,ITA,9,Toscana,43.769231,11.255889,1108,122,1230,174576,...,NaN,16.0,NaN,NaN,416747.0,104269.0,5665687.0,4097200.0,ITI,ITI1
14445,2022-01-11 17:00:00,ITA,10,Umbria,43.106758,12.388247,198,14,212,34411,...,Si fa presente che 9 dei ricoveri non UTI appa...,3.0,NaN,NaN,93397.0,23782.0,1394157.0,1712035.0,ITI,ITI2
14446,2022-01-11 17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,53,6,59,5109,...,NaN,1.0,NaN,NaN,14546.0,6719.0,129345.0,257564.0,ITC,ITC2
14447,2022-01-11 17:00:00,ITA,5,Veneto,45.434905,12.338452,1504,202,1706,203993,...,Nei valori riportati per le terapie intensive ...,23.0,NaN,NaN,629746.0,163004.0,8546505.0,12202054.0,ITH,ITH3

In [8]:
#filtering rows on "data" column
#only keeping rows with "2020-05-24 17:00:00" value
#to only get death and cases up until the 24th of may of 2020
start_date = "2020-05-24 17:00:00"
end_date = "2020-05-24 17:00:00"
after_start_date = df["data"] >= start_date
before_end_date = df["data"] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates = df.loc[between_two_dates]

df = filtered_dates
df

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,...,note,ingressi_terapia_intensiva,note_test,note_casi,totale_positivi_test_molecolare,totale_positivi_test_antigenico_rapido,tamponi_test_molecolare,tamponi_test_antigenico_rapido,codice_nuts_1,codice_nuts_2
1890,2020-05-24 17:00:00,ITA,13,Abruzzo,42.351222,13.398438,149,3,152,940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1891,2020-05-24 17:00:00,ITA,17,Basilicata,40.639471,15.805148,13,1,14,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1892,2020-05-24 17:00:00,ITA,18,Calabria,38.905976,16.594402,43,1,44,231,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1893,2020-05-24 17:00:00,ITA,15,Campania,40.839566,14.250850,311,8,319,949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1894,2020-05-24 17:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,519,83,602,3855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1895,2020-05-24 17:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,62,1,63,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1896,2020-05-24 17:00:00,ITA,12,Lazio,41.892770,12.483667,1088,61,1149,2420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1897,2020-05-24 17:00:00,ITA,7,Liguria,44.411493,8.932699,247,18,265,1359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1898,2020-05-24 17:00:00,ITA,3,Lombardia,45.466794,9.190347,4017,197,4214,21400,...,pd-IT-0020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1899,2020-05-24 17:00:00,ITA,11,Marche,43.616760,13.518875,101,13,114,1578,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900,2020-05-24 17:00:00,ITA,14,Molise,41.557748,14.659161,6,2,8,175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901,2020-05-24 17:00:00,ITA,21,P.A. Bolzano,46.499335,11.356624,30,5,35,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1902,2020-05-24 17:00:00,ITA,22,P.A. Trento,46.068935,11.121231,27,4,31,504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1903,2020-05-24 17:00:00,ITA,1,Piemonte,45.073274,7.680687,1283,75,1358,6345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904,2020-05-24 17:00:00,ITA,16,Puglia,41.125596,16.867367,204,17,221,1572,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1905,2020-05-24 17:00:00,ITA,20,Sardegna,39.215312,9.110616,51,3,54,191,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1906,2020-05-24 17:00:00,ITA,19,Sicilia,38.115697,13.362357,91,9,100,1353,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1907,2020-05-24 17:00:00,ITA,9,Toscana,43.769231,11.255889,148,38,186,1514,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908,2020-05-24 17:00:00,ITA,10,Umbria,43.106758,12.388247,15,2,17,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1909,2020-05-24 17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,23,1,24,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910,2020-05-24 17:00:00,ITA,5,Veneto,45.434905,12.338452,185,11,196,2464,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#removing unnecessary columns
df_tot_pos_morti25052020 = df[['codice_regione', 'denominazione_regione', 'lat', 'long', 'totale_positivi', 'deceduti']]
df_tot_pos_morti25052020

,codice_regione,denominazione_regione,lat,long,totale_positivi,deceduti
1890,13,Abruzzo,42.351222,13.398438,1092,398
1891,17,Basilicata,40.639471,15.805148,39,27
1892,18,Calabria,38.905976,16.594402,275,96
1893,15,Campania,40.839566,14.250850,1268,405
1894,8,Emilia-Romagna,44.494367,11.341721,4457,4055
1895,6,Friuli Venezia Giulia,45.649435,13.768136,412,329
1896,12,Lazio,41.892770,12.483667,3569,684
1897,7,Liguria,44.411493,8.932699,1624,1419
1898,3,Lombardia,45.466794,9.190347,25614,15840
1899,11,Marche,43.616760,13.518875,1692,994
1900,14,Molise,41.557748,14.659161,183,22
1901,21,P.A. Bolzano,46.499335,11.356624,195,291
1902,22,P.A. Trento,46.068935,11.121231,535,457
1903,1,Piemonte,45.073274,7.680687,7703,3783
1904,16,Puglia,41.125596,16.867367,1793,487
1905,20,Sardegna,39.215312,9.110616,245,129
1906,19,Sicilia,38.115697,13.362357,1453,269
1907,9,Toscana,43.769231,11.255889,1700,1013
1908,10,Umbria,43.106758,12.388247,53,75
1909,2,Valle d'Aosta,45.737503,7.320149,32,143
1910,5,Veneto,45.434905,12.338452,2660,1869

In [13]:
#ordering rows based on region code
df_tot_pos_morti25052020.sort_values(by=['codice_regione'], inplace=True)
df_tot_pos_morti25052020

,codice_regione,denominazione_regione,lat,long,totale_positivi,deceduti
1903,1,Piemonte,45.073274,7.680687,7703,3783
1909,2,Valle d'Aosta,45.737503,7.320149,32,143
1898,3,Lombardia,45.466794,9.190347,25614,15840
1910,5,Veneto,45.434905,12.338452,2660,1869
1895,6,Friuli Venezia Giulia,45.649435,13.768136,412,329
1897,7,Liguria,44.411493,8.932699,1624,1419
1894,8,Emilia-Romagna,44.494367,11.341721,4457,4055
1907,9,Toscana,43.769231,11.255889,1700,1013
1908,10,Umbria,43.106758,12.388247,53,75
1899,11,Marche,43.616760,13.518875,1692,994
1896,12,Lazio,41.892770,12.483667,3569,684
1890,13,Abruzzo,42.351222,13.398438,1092,398
1900,14,Molise,41.557748,14.659161,183,22
1893,15,Campania,40.839566,14.250850,1268,405
1904,16,Puglia,41.125596,16.867367,1793,487
1891,17,Basilicata,40.639471,15.805148,39,27
1892,18,Calabria,38.905976,16.594402,275,96
1906,19,Sicilia,38.115697,13.362357,1453,269
1905,20,Sardegna,39.215312,9.110616,245,129
1901,21,P.A. Bolzano,46.499335,11.356624,195,291
1902,22,P.A. Trento,46.068935,11.121231,535,457

In [14]:
#cleaning dataset regarding population numbers
df_pop = df_pop.loc[df_pop['TIME'] == '2020']
df_pop.reset_index()
df_pop = df_pop[['Territorio', 'Value']]
df_pop = df_pop.rename(columns={'Territorio': 'denominazione_regione', 'Value': 'popolazione'})
df_pop.set_index(['denominazione_regione'], inplace=True)
df_pop = df_pop.rename(index={'Valle d\'Aosta / Vallée d\'Aoste':'Valle d\'Aosta', 'Friuli-Venezia Giulia':'Friuli Venezia Giulia', 'Provincia Autonoma Bolzano / Bozen' : 'P.A. Bolzano', 'Provincia Autonoma Trento':'P.A. Trento'})

In [15]:
#merging of population dataset with covid dataset
df_finale = pd.merge(df_tot_pos_morti25052020, df_pop, on="denominazione_regione")
df_finale

,codice_regione,denominazione_regione,lat,long,totale_positivi,deceduti,popolazione
0,1,Piemonte,45.073274,7.680687,7703,3783,4311217
1,2,Valle d'Aosta,45.737503,7.320149,32,143,125034
2,3,Lombardia,45.466794,9.190347,25614,15840,10027602
3,5,Veneto,45.434905,12.338452,2660,1869,4879133
4,6,Friuli Venezia Giulia,45.649435,13.768136,412,329,1206216
5,7,Liguria,44.411493,8.932699,1624,1419,1524826
6,8,Emilia-Romagna,44.494367,11.341721,4457,4055,4464119
7,9,Toscana,43.769231,11.255889,1700,1013,3692555
8,10,Umbria,43.106758,12.388247,53,75,870165
9,11,Marche,43.616760,13.518875,1692,994,1512672
10,12,Lazio,41.892770,12.483667,3569,684,5755700
11,13,Abruzzo,42.351222,13.398438,1092,398,1293941
12,14,Molise,41.557748,14.659161,183,22,300516
13,15,Campania,40.839566,14.250850,1268,405,5712143
14,16,Puglia,41.125596,16.867367,1793,487,3953305
15,17,Basilicata,40.639471,15.805148,39,27,553254
16,18,Calabria,38.905976,16.594402,275,96,1894110
17,19,Sicilia,38.115697,13.362357,1453,269,4875290
18,20,Sardegna,39.215312,9.110616,245,129,1611621
19,21,P.A. Bolzano,46.499335,11.356624,195,291,532644
20,22,P.A. Trento,46.068935,11.121231,535,457,545425

In [16]:
#adding column regarding number of cases and death for every 100000 residents
df_finale['totale_positivi_ogni_100000'] = df_finale.apply(lambda row: round((row.totale_positivi / row.popolazione)*100000), axis=1)
df_finale['deceduti_ogni_100000'] = df_finale.apply(lambda row: round((row.deceduti / row.popolazione)*100000), axis=1)
df_finale

,codice_regione,denominazione_regione,lat,long,totale_positivi,deceduti,popolazione,totale_positivi_ogni_100000,deceduti_ogni_100000
0,1,Piemonte,45.073274,7.680687,7703,3783,4311217,179,88
1,2,Valle d'Aosta,45.737503,7.320149,32,143,125034,26,114
2,3,Lombardia,45.466794,9.190347,25614,15840,10027602,255,158
3,5,Veneto,45.434905,12.338452,2660,1869,4879133,55,38
4,6,Friuli Venezia Giulia,45.649435,13.768136,412,329,1206216,34,27
5,7,Liguria,44.411493,8.932699,1624,1419,1524826,107,93
6,8,Emilia-Romagna,44.494367,11.341721,4457,4055,4464119,100,91
7,9,Toscana,43.769231,11.255889,1700,1013,3692555,46,27
8,10,Umbria,43.106758,12.388247,53,75,870165,6,9
9,11,Marche,43.616760,13.518875,1692,994,1512672,112,66
10,12,Lazio,41.892770,12.483667,3569,684,5755700,62,12
11,13,Abruzzo,42.351222,13.398438,1092,398,1293941,84,31
12,14,Molise,41.557748,14.659161,183,22,300516,61,7
13,15,Campania,40.839566,14.250850,1268,405,5712143,22,7
14,16,Puglia,41.125596,16.867367,1793,487,3953305,45,12
15,17,Basilicata,40.639471,15.805148,39,27,553254,7,5
16,18,Calabria,38.905976,16.594402,275,96,1894110,15,5
17,19,Sicilia,38.115697,13.362357,1453,269,4875290,30,6
18,20,Sardegna,39.215312,9.110616,245,129,1611621,15,8
19,21,P.A. Bolzano,46.499335,11.356624,195,291,532644,37,55
20,22,P.A. Trento,46.068935,11.121231,535,457,545425,98,84

In [ ]:
#tradurre colonne in inglese
df_finale = df_finale.rename(columns={'codice_regione': 'region_code', 'denominazione_regione': 'region_name', 'totale_positivi': 'tot_positives', 'deceduti': 'deaths', 'popolazione':'population', 'totale_positivi_ogni_100000':'totale_positives_every_100000', 'deceduti_ogni_100000': 'deaths_every_100000'})

In [12]:
#output nuovo csv 
#è fatta
df_finale.to_csv('dati-covid-regioni-1quarantena.csv', encoding='utf-8', index=False)